body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}